footer.bg--dark.border--top.border--top-2-5.border--primary.py-5
    .container 
        .row
            .col-12.col-md-4
                .row
                    h4.text.text--20.text--primary.w-100.mb-2 Entradas recientes
                    p.text.text--white hola
            .col-12.col-md-4
                .row
                    h4.text.text--20.text--primary.w-100.mb-2 Recomendaciones
                    p.text.text--white hola
            .col-12.col-md-4
                .row.flex-column
                    h2.text--20.text--white.border--bottom.border--white.text--regular REVISTA <b>ANTRÓPIKA</b>
                    br
                    p.text.text--white 
                        i.fas.fa-mobile-alt.pr-4
                        span.text.text--white 677 777 700
                    br
                    p.text.text--white 
                        i.fas.fa-envelope.pr-4
                        span.text.text--white info@revistaantropika.com
                    br                    
                    p.text.text--white 
                        i.fab.fa-facebook-f.mr-4
                        i.fab.fa-twitter.mr-4
                        i.fab.fa-instagram.mr-4
                        i.fab.fa-tumblr.mr-4
                        i.fab.fa-youtube.mr-4
                        i.fab.fa-github
script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js')
