footer.bg--dark.border--top.border--top-2-5.border--primary
    nav.navbar.navbar-expand-sm.main-nav.py-2.border--bottom
        .container.justify-content-center.p-0.flex-column.flex-md-row
            ul.nav.navbar-nav.flex-fill.w-100.flex-nowrap.justify-content-center.justify-content-md-start.flex-row
                li.nav-item.pr-2
                    a.nav-link.text--12(href='#') HOME
                li.nav-item.pr-2
                    a.nav-link.text--12(href='#') NOTICIAS
                li.nav-item.pr-2
                    a.nav-link.text--12(href='#') VÍDEOS
                li.nav-item.pr-2
                    a.nav-link.text--12(href='#') NOSOTROS
                li.nav-item
                    a.nav-link.text--12(href='#') CONTACTO
            ul.nav.navbar-nav.flex-fill.w-100.justify-content-center.justify-content-md-end.flex-row
                li.nav-item
                    a.nav-link.text--15(href='#') 
                        i.fab.fa-facebook-f
                li.nav-item
                    a.nav-link.text--15(href='#') 
                        i.fab.fa-twitter
                li.nav-item
                    a.nav-link.text--15(href='#') 
                        i.fab.fa-instagram
                li.nav-item
                    a.nav-link.text--15(href='#') 
                        i.fab.fa-tumblr
                li.nav-item
                    a.nav-link.text--15(href='#') 
                        i.fab.fa-youtube
                li.nav-item
                    a.nav-link.text--15(href='#') 
                        i.fab.fa-github
footer.bg--degradado.py-5
    .container 
        .row
            .col-12.my-3.text-center.text-md-left
                h2.text--20.text--dark.border--bottom.border--white.text--regular REVISTA <b>ANTRÓPIKA</b>
                br
                p.text.text--dark 
                    i.fas.fa-envelope.pr-4
                    span.text.text--darkinfo info@revistaantropika.com
                br                    
                p.text.text--dark.text--12.text--semibold 
                    a.text--black(href="#") @antropika 2016 
                    | - 
                    a.text--black(href="#") Política de privacidad 
                    | -  
                    a.text--black(href="#") Aviso de cookies
script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js')
