footer.bg--dark.border--top.border--top-2-5.border--primary.py-5
    p hhhhh
footer.bg--degradado.py-5
    .container 
        .row
            .col-12.col-md-4.order-3.order-md-1
                h4.text.text--20.text--primary.text--bold.w-100.my-3 ENTRADAS RECIENTES
                .col-12
                    .row.mb-3
                        .card.text--cursor.h-100
                            .card-body.position-relative.p-0
                                .row
                                    .col-6
                                        .position-relative.w-100.h-100
                                            img.card-img-top.h-100(src='https://picsum.photos/900/600/?image=40', alt='Card image cap')
                                            a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='#') Leer más
                                            .swiper-bg.swiper-bg-hover.d-flex
                                            span.tag.tag--primary.tag--top-inherit.tag--bottom.text--white Etiqueta
                                    .col-6.pl-0
                                        p.text.text--12.text--semibold.my-4 Entrevista a Isabel Soler Gil-Mascarell: palabra de mujer, madre y persona
                                        p.text.text--12.text--light.mb-4  Victoria de la Fuente - 03/08/2018
                    .row.mb-3
                        .card.text--cursor.h-100
                            .card-body.position-relative.p-0
                                .row
                                    .col-6
                                        .position-relative.w-100.h-100
                                            img.card-img-top.h-100(src='https://picsum.photos/900/600/?image=40', alt='Card image cap')
                                            a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='#') Leer más
                                            .swiper-bg.swiper-bg-hover.d-flex
                                            span.tag.tag--primary.tag--top-inherit.tag--bottom.text--white Etiqueta
                                    .col-6.pl-0
                                        p.text.text--12.text--semibold.my-4 Entrevista a Isabel Soler Gil-Mascarell: palabra de mujer, madre y persona
                                        p.text.text--12.text--light.mb-4  Victoria de la Fuente - 03/08/2018
                    .row.mb-3
                        .card.text--cursor.h-100
                            .card-body.position-relative.p-0
                                .row
                                    .col-6
                                        .position-relative.w-100.h-100
                                            img.card-img-top.h-100(src='https://picsum.photos/900/600/?image=120', alt='Card image cap')
                                            a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='#') Leer más
                                            .swiper-bg.swiper-bg-hover.d-flex
                                            span.tag.tag--primary.tag--top-inherit.tag--bottom.text--white Etiqueta
                                    .col-6.pl-0
                                        p.text.text--12.text--semibold.my-4 La gasolinera
                                        p.text.text--12.text--light.mb-4 Kita Sénécal - 03/08/2018
            .col-12.col-md-4.order-2
                h4.text.text--20.text--primary.text--bold.w-100.my-3 RECOMENDACIONES
                .col-12
                    .row.mb-3
                        .card.text--cursor.h-100
                            .card-body.position-relative.p-0
                                .row
                                    .col-6
                                        .position-relative.w-100.h-100
                                            img.card-img-top.h-100(src='https://picsum.photos/900/600/?image=40', alt='Card image cap')
                                            a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='#') Leer más
                                            .swiper-bg.swiper-bg-hover.d-flex
                                            span.tag.tag--primary.tag--top-inherit.tag--bottom.text--white Etiqueta
                                    .col-6.pl-0
                                        p.text.text--12.text--semibold.my-4 Entrevista a Isabel Soler Gil-Mascarell: palabra de mujer, madre y persona
                                        p.text.text--12.text--light.mb-4  Victoria de la Fuente - 03/08/2018
                    .row.mb-3
                        .card.text--cursor.h-100
                            .card-body.position-relative.p-0
                                .row
                                    .col-6
                                        .position-relative.w-100.h-100
                                            img.card-img-top.h-100(src='https://picsum.photos/900/600/?image=40', alt='Card image cap')
                                            a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='#') Leer más
                                            .swiper-bg.swiper-bg-hover.d-flex
                                            span.tag.tag--primary.tag--top-inherit.tag--bottom.text--white Etiqueta
                                    .col-6.pl-0
                                        p.text.text--12.text--semibold.my-4 Entrevista a Isabel Soler Gil-Mascarell: palabra de mujer, madre y persona
                                        p.text.text--12.text--light.mb-4  Victoria de la Fuente - 03/08/2018
                    .row.mb-3
                        .card.text--cursor.h-100
                            .card-body.position-relative.p-0
                                .row
                                    .col-6
                                        .position-relative.w-100.h-100
                                            img.card-img-top.h-100(src='https://picsum.photos/900/600/?image=120', alt='Card image cap')
                                            a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='#') Leer más
                                            .swiper-bg.swiper-bg-hover.d-flex
                                            span.tag.tag--primary.tag--top-inherit.tag--bottom.text--white Etiqueta
                                    .col-6.pl-0
                                        p.text.text--12.text--semibold.my-4 La gasolinera
                                        p.text.text--12.text--light.mb-4 Kita Sénécal - 03/08/2018

            .col-12.col-md-4.order-1.order-md-3.my-3.text-center.text-md-left
                h2.text--20.text--dark.border--bottom.border--white.text--regular REVISTA <b>ANTRÓPIKA</b>
                br
                p.text.text--dark 
                    i.fas.fa-mobile-alt.pr-4
                    span.text.text--dark 677 777 700
                br
                br
                p.text.text--dark 
                    i.fas.fa-envelope.pr-4
                    span.text.text--dark info@revistaantropika.com
                br                    
                br                    
                p.text.text--dark 
                    i.fab.fa-facebook-f.mr-4
                    i.fab.fa-twitter.mr-4
                    i.fab.fa-instagram.mr-4
                    i.fab.fa-tumblr.mr-4
                    i.fab.fa-youtube.mr-4
                    i.fab.fa-github
                br                    
                br 
                p.text.text--dark.text--12.text--semibold Política de privacidad -  Aviso de cookies
script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js')
