nav.navbar.navbar-expand-sm.bg--degradado.main-nav.py-2.border--bottom
	.container.justify-content-center.p-0.flex-column.flex-md-row
		ul.nav.navbar-nav.flex-fill.w-100.flex-nowrap.justify-content-center.justify-content-md-start.flex-row
			li.nav-item.pr-2
				a.nav-link.text--12(href='#') HOME
			li.nav-item.pr-2
				a.nav-link.text--12(href='#') NOTICIAS
			li.nav-item.pr-2
				a.nav-link.text--12(href='#') VÍDEOS
			li.nav-item.pr-2
				a.nav-link.text--12(href='#') NOSOTROS
			li.nav-item
				a.nav-link.text--12(href='#') CONTACTO
		ul.nav.navbar-nav.flex-fill.w-100.justify-content-center.justify-content-md-end.flex-row
			li.nav-item
				a.nav-link.text--15(href='#') 
					i.fab.fa-facebook-f
			li.nav-item
				a.nav-link.text--15(href='#') 
					i.fab.fa-twitter
			li.nav-item
				a.nav-link.text--15(href='#') 
					i.fab.fa-instagram
			li.nav-item
				a.nav-link.text--15(href='#') 
					i.fab.fa-tumblr
			li.nav-item
				a.nav-link.text--15(href='#') 
					i.fab.fa-youtube
			li.nav-item
				a.nav-link.text--15(href='#') 
					i.fab.fa-github

nav.navbar.navbar-expand-lg.bg--degradado.border--bottom.py-5.d-none.d-md-flex
	.container.p-0
		a.navbar-brand.p-sm-2(href='/')
			h2.text--title.text--dark.border--bottom REVISTA 
				b ANTRÓPIKA

header.header-fixed.navbar.navbar-expand-lg.bg--dark.border--top.border--primary.border--top-2-5.py-0
	.container.p-0
		a.navbar-brand.p-sm-2.d-inline.d-lg-none(href='/')
			img.img-fluid(src='https://www.revistaantropika.com/assets/images/logo.svg', alt="", width='50px')
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
			span.fas.fa-bars.fa-2x.text--white
			p.text.text--12.text--semibold.text--white MENÚ
		#navbarText.collapse.navbar-collapse
			ul.navbar-nav.w-100.aling-items-center.justify-content-between
				li.nav-item.px-3
					a.nav-link.text.text--12.text--semibold(href='') TODOS
				li.nav-item.px-3
					a.nav-link.text.text--12.text--semibold(href='') OPINIÓN
				li.nav-item.px-3
					a.nav-link.text.text--12.text--semibold(href='') ARTE
				li.nav-item.px-3
					a.nav-link.text.text--12.text--semibold(href='') CIENCIA
				li.nav-item.px-3
					a.nav-link.text.text--12.text--semibold(href='') ENTREVISTAS
				li.nav-item.px-3
					a.nav-link.text.text--12.text--semibold(href='') COLECTIVOS
				li.nav-item.px-3
					a.nav-link.text.text--12.text--semibold(href='') REPORTAJES
				li.nav-item.px-3
					a.nav-link.text.text--12.text--semibold(href='') FICCIONES
				li.nav-item.px-3
					a.nav-link.text.text--12.text--semibold(href='') RELATOS SAVVAJES
				li.nav-item.px-3
					a.nav-link.text.text--12.text--semibold(href='') RECOMENDACIONES
				li.nav-item.px-3.position-relative
					a#search.nav-link.text.text--12.text--semibold(href='') 
						<i class="fas fa-search"></i>
					input.form-control.form-search.header--search.text.text--12(type='text', placeholder="Buscar")
					