section.content.px-4.px-lg-0
  .container
    +title-card('breadcrumb', 'opinion', [{title: 'Nuestro equipo', active: true}])
    .row.align-items-start.align-items-md-stretch
      .col-12.col-sm-2.col-md-4.col-lg-3
        .row.pr-0.pr-lg-3.py-3.h-100
          .card.border--top-primary.text--cursor.h-100
            .position-relative.w-100.card--image-180
              img.card-img-top(src='https://www.revistaantropika.com/nosotros/img/toni.jpg', alt='Card image cap')
              a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='autor.html') Ver más
              .swiper-bg.swiper-bg-hover.d-flex
            .card-body.position-relative
             
              p.text.text--20.text--semibold.mt-4.mb-2 Antonio Carbonell
              p.text.text--16.mb-4 Director
              hr
              p.text.text--12.text--light.mb-4
                | Director de la Revista AntrópikA. Es aprendiz de todo y maestro de nada. Realizador audiovisual.
      .col-12.col-sm-2.col-md-4.col-lg-3
        .row.pr-0.pr-lg-3.py-3.h-100
          .card.border--top-primary.text--cursor.h-100
            .position-relative.w-100.card--image-180
              img.card-img-top(src='https://www.revistaantropika.com/nosotros/img/1.jpg', alt='Card image cap')
              a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='autor.html') Ver más
              .swiper-bg.swiper-bg-hover.d-flex
            .card-body.position-relative
             
              p.text.text--20.text--semibold.mt-4.mb-2 Daniel Rosselló
              p.text.text--16.mb-4 Desarrollador web
              hr
              p.text.text--12.text--light.mb-4
                | Desarrollar de Antrópika
      .col-12.col-sm-2.col-md-4.col-lg-3
        .row.pr-0.pr-lg-3.py-3.h-100
          .card.border--top-primary.text--cursor.h-100
            .position-relative.w-100.card--image-180
              img.card-img-top(src='https://www.revistaantropika.com/nosotros/img/danigarcia.jpg', alt='Card image cap')
              a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='autor.html') Ver más
              .swiper-bg.swiper-bg-hover.d-flex
            .card-body.position-relative
             
              p.text.text--20.text--semibold.mt-4.mb-2 Dani García
              p.text.text--16.mb-4 Editor
              hr
              p.text.text--12.text--light.mb-4
                | Autodidacta de casi todo, que ha hecho del cine, la música, y los libros su modus vivvendi. Sus hijos, pequeños padawans y seres queridos le han convertido en el friki que es hoy en día. Amante de hacer llegar ese mundo a los profanos
      .col-12.col-sm-2.col-md-4.col-lg-3
        .row.pr-0.pr-lg-3.py-3.h-100
          .card.border--top-primary.text--cursor.h-100
            .position-relative.w-100.card--image-180
              img.card-img-top(src='https://www.revistaantropika.com/nosotros/img/11896541_10153598.jpg')
              a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='autor.html') Ver más
              .swiper-bg.swiper-bg-hover.d-flex
            .card-body.position-relative
            
              p.text.text--20.text--semibold.mt-4.mb-2 Mikel Elejondo
              p.text.text--16.mb-4 Editor
              hr
              p.text.text--12.text--light.mb-4
                | Es ingeniero y escritor. Viajero y reflexivo. Está preparando varios guiones cinematográficos.
  .container
    +title-card('breadcrumb', 'arte', [{title: 'Nuestros colaboradores', active: true}])
    .row.align-items-start.align-items-md-stretch
      .col-12.col-sm-2.col-md-4.col-lg-3
        .row.pr-0.pr-lg-3.py-3.h-100
          .card.border--top-primary.text--cursor.h-100
            .position-relative.w-100.card--image-180
              img.card-img-top(src='https://www.revistaantropika.com/nosotros/img/13275938_1158126630904407_158476276_n.jpg', alt='Card image cap')
              a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='autor.html') Ver más
              .swiper-bg.swiper-bg-hover.d-flex
            .card-body.position-relative
             
              p.text.text--20.text--semibold.mt-4.mb-2 Kita Senecal
              p.text.text--16.mb-4 Colaborador
              hr
              p.text.text--12.text--light.mb-4
                | Ilustrador y cantante, ocasional.
      .col-12.col-sm-2.col-md-4.col-lg-3
        .row.pr-0.pr-lg-3.py-3.h-100
          .card.border--top-primary.text--cursor.h-100
            .position-relative.w-100.card--image-180
              img.card-img-top(src='https://www.revistaantropika.com/nosotros/img/georgia peacock staff.jpg', alt='Card image cap')
              a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='autor.html') Ver más
              .swiper-bg.swiper-bg-hover.d-flex
            .card-body.position-relative
             
              p.text.text--20.text--semibold.mt-4.mb-2 Georgia Peacock
              p.text.text--16.mb-4 Colaborador
              hr
              p.text.text--12.text--light.mb-4
                | Georgia Peacock es una blogger de moda y estudiante de marketing. Lleva la sección de moda..
      .col-12.col-sm-2.col-md-4.col-lg-3
        .row.pr-0.pr-lg-3.py-3.h-100
          .card.border--top-primary.text--cursor.h-100
            .position-relative.w-100.card--image-180
              img.card-img-top(src='https://www.revistaantropika.com/nosotros/img/juliaeme_12.jpeg', alt='Card image cap')
              a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='autor.html') Ver más
              .swiper-bg.swiper-bg-hover.d-flex
            .card-body.position-relative
             
              p.text.text--20.text--semibold.mt-4.mb-2 Julia Eme
              p.text.text--16.mb-4 Correctora de estilo
              hr
              p.text.text--12.text--light.mb-4
                | Periodista, cantante y una enamorada del coaching y la inteligencia emocional. Correctora de estilo en AntrópikA. Hablo de conflictos sociales y crecimiento personal. A veces reparo mentes
      .col-12.col-sm-2.col-md-4.col-lg-3
        .row.pr-0.pr-lg-3.py-3.h-100
          .card.border--top-primary.text--cursor.h-100
            .position-relative.w-100.card--image-180
              img.card-img-top(src='https://www.revistaantropika.com/nosotros/img/georgia peacock staff.jpg', alt='Card image cap')
              a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='autor.html') Ver más
              .swiper-bg.swiper-bg-hover.d-flex
            .card-body.position-relative
             
              p.text.text--20.text--semibold.mt-4.mb-2 Georgia Peacock
              p.text.text--16.mb-4 Colaborador
              hr
              p.text.text--12.text--light.mb-4
                | Georgia Peacock es una blogger de moda y estudiante de marketing. Lleva la sección de moda..
      .col-12.col-sm-2.col-md-4.col-lg-3
        .row.pr-0.pr-lg-3.py-3.h-100
          .card.border--top-primary.text--cursor.h-100
            .position-relative.w-100.card--image-180
              img.card-img-top(src='https://www.revistaantropika.com/nosotros/img/13275938_1158126630904407_158476276_n.jpg', alt='Card image cap')
              a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='autor.html') Ver más
              .swiper-bg.swiper-bg-hover.d-flex
            .card-body.position-relative
             
              p.text.text--20.text--semibold.mt-4.mb-2 Kita Senecal
              p.text.text--16.mb-4 Colaborador
              hr
              p.text.text--12.text--light.mb-4
                | Ilustrador y cantante, ocasional.
      .col-12.col-sm-2.col-md-4.col-lg-3
        .row.pr-0.pr-lg-3.py-3.h-100
          .card.border--top-primary.text--cursor.h-100
            .position-relative.w-100.card--image-180
              img.card-img-top(src='https://www.revistaantropika.com/nosotros/img/georgia peacock staff.jpg', alt='Card image cap')
              a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='autor.html') Ver más
              .swiper-bg.swiper-bg-hover.d-flex
            .card-body.position-relative
             
              p.text.text--20.text--semibold.mt-4.mb-2 Georgia Peacock
              p.text.text--16.mb-4 Colaborador
              hr
              p.text.text--12.text--light.mb-4
                | Georgia Peacock es una blogger de moda y estudiante de marketing. Lleva la sección de moda..
      .col-12.col-sm-2.col-md-4.col-lg-3
        .row.pr-0.pr-lg-3.py-3.h-100
          .card.border--top-primary.text--cursor.h-100
            .position-relative.w-100.card--image-180
              img.card-img-top(src='https://www.revistaantropika.com/nosotros/img/13275938_1158126630904407_158476276_n.jpg', alt='Card image cap')
              a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='autor.html') Ver más
              .swiper-bg.swiper-bg-hover.d-flex
            .card-body.position-relative
             
              p.text.text--20.text--semibold.mt-4.mb-2 Kita Senecal
              p.text.text--16.mb-4 Colaborador
              hr
              p.text.text--12.text--light.mb-4
                | Ilustrador y cantante, ocasional.
      .col-12.col-sm-2.col-md-4.col-lg-3
        .row.pr-0.pr-lg-3.py-3.h-100
          .card.border--top-primary.text--cursor.h-100
            .position-relative.w-100.card--image-180
              img.card-img-top(src='https://www.revistaantropika.com/nosotros/img/georgia peacock staff.jpg', alt='Card image cap')
              a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='autor.html') Ver más
              .swiper-bg.swiper-bg-hover.d-flex
            .card-body.position-relative
             
              p.text.text--20.text--semibold.mt-4.mb-2 Georgia Peacock
              p.text.text--16.mb-4 Colaborador
              hr
              p.text.text--12.text--light.mb-4
                | Georgia Peacock es una blogger de moda y estudiante de marketing. Lleva la sección de moda..