section.content.px-4.px-lg-0
  .container
    .row.py-5
      .col-12.col-lg-8
        include ./../blocks/post
        include ./../blocks/author
        .py-4
        include ./../blocks/post-paginator
      .col-12.col-lg-4
        include ./../blocks/sidebar