section.content.px-4.px-md-0
  .container
    .row.py-5
      .col-12.col-md-8
        include ./../blocks/post
        include ./../blocks/author
      .col-12.col-md-4
        include ./../blocks/sidebar