@mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}

@mixin font($w: normal, $s: 12, $x:24, $font: $font) {
    font: $w ($s * 1.333333)+px / $x+px $font;
}


@mixin bg($colors...){
    @for $i from 1 through length($colors) {
        .bg--#{nth($colors,$i)}{
            background-color: map-get($colors-app, nth($colors,$i));
        }
    }
}

@mixin text($colors...){
    @for $i from 1 through length($colors) {
        .text--#{nth($colors,$i)}{
            color: map-get($colors-app, nth($colors,$i));
        }
    }
}

@mixin borders($colors...){
    @for $i from 1 through length($colors) {
        .border--#{nth($colors,$i)}{
            border-color: map-get($colors-app, nth($colors,$i));
        }
    }
}
@mixin tags($colors...){
    @for $i from 1 through length($colors) {
        .tag--#{nth($colors,$i)}{
            background: #{map-get($colors-app, nth($colors,$i))};
        }
    }
}
@mixin btns($colors...){
    @for $i from 1 through length($colors) {
        .btn--#{nth($colors,$i)}{
            background-color: #{map-get($colors-app, nth($colors,$i))};
            border-color: #{map-get($colors-app, nth($colors,$i))};        }
    }
}