mixin breadcrumb(id, ...items)
    .row.pt-5
        nav.w-100(aria-label=id)
            ol.breadcrumb.bg-white.py-4
                each obj in items
                    each item in obj
                        li.breadcrumb-item.text.text--12(class=item.active ? "active" : false, aria-current='page')= item.title