.row.py-5.bg--white
    .col-12.col-sm-3.d-flex.justify-content-center.justify-content-sm-start.pb-5.pb-sm-0
        .o-hidden.rounded-circle.perfil--content
            img.img-fluid(src='https://www.revistaantropika.com/nosotros/img/13275938_1158126630904407_158476276_n.jpg', alt='Card image cap')
    .col-12.col-sm-9
        .row
            .col-12
                p.text.text--20 Kika Senekal
            .col-12.py-3
                p.text.text--light Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.