section.content.px-4.px-md-0
  .container
    include ./../blocks/news
    .row.py-5
      .col-12.col-md-8
        include ./../blocks/news-carousel-cards
        include ./../blocks/news-cards
        include ./../blocks/news-cards-12
        include ./../blocks/components/pagination
      .col-12.col-md-4
        include ./../blocks/sidebar