.row.py-5
    .width-100.bg--white.pb-5
        img.img-fluid(src='https://picsum.photos/900/400/?image=140', alt='Card image cap')
        .col-12
            h1.text.text--title.text--bold.mt-5 Nombre del autor
            p.text.text--light.py-4 Km 47 de la autovía de Extremadura, voy con mi padre buscando una gasolinera, es un viaje francamente aburrido, la radio está rota, el viejo padece demencia senil y apenas habla. A lo largo de una hora solo ha dicho una frase: -”Quiero mear”- y aunque me lo está poniendo fácil, no consigo concentrarme en la carretera. Les puedo asegurar que ando metido en un buen lío... me acabo de divorciar, estoy en bancarrota y tengo que pagar la pensión alimenticia de unos hijos a los que un juez no me permite visitar.
        .col-12
            ul.mt-5.redes-sociales.nav.navbar-nav.flex-fill.w-100.justify-content-center.flex-row
                li.nav-item
                    a.nav-link.text--15(href='#') 
                        i.fab.fa-facebook-f
                li.nav-item
                    a.nav-link.text--15(href='#') 
                        i.fab.fa-twitter
                li.nav-item
                    a.nav-link.text--15(href='#') 
                        i.fab.fa-instagram
                li.nav-item
                    a.nav-link.text--15(href='#') 
                        i.fab.fa-tumblr
                li.nav-item
                    a.nav-link.text--15(href='#') 
                        i.fab.fa-youtube
                li.nav-item
                    a.nav-link.text--15(href='#') 
                        i.fab.fa-github
        section.content.px-4.px-lg-0