+breadcrumb('breadcrumb', [{title: 'Últimos post', active: true}])
+card-12([
	{
		image: 30,
		title: 'Titular 1',
		text: 'Han pasado 40 años y casi no nos hemos dado ni cuenta. Nuestro mundo y el tuyo es muy diferente. Conoce cómo hemos cambiado en estas cuatro décadas...'
	},
	{
		image: 40,
		title: 'Titular 2',
		text: 'Han pasado 40 años y casi no nos hemos dado ni cuenta. Nuestro mundo y el tuyo es muy diferente. Conoce cómo hemos cambiado en estas cuatro décadas...'
	},
	{
		image: 50,
		title: 'Titular 3',
		text: 'Han pasado 40 años y casi no nos hemos dado ni cuenta. Nuestro mundo y el tuyo es muy diferente. Conoce cómo hemos cambiado en estas cuatro décadas...'
	},
	{
		image: 60,
		title: 'Titular 4',
		text: 'Han pasado 40 años y casi no nos hemos dado ni cuenta. Nuestro mundo y el tuyo es muy diferente. Conoce cómo hemos cambiado en estas cuatro décadas...'
	}
])