+breadcrumb('breadcrumb', [{title: 'Home', active: false}, {title: 'Últimos post', active: true}])
.row
  .col-12.col-md-6
    .row.pr-0.pr-md-3.py-3
      .card.border--top-primary.text--cursor.h-100
        .position-relative.w-100
          img.card-img-top(src='https://picsum.photos/370/250/?image=30', alt='Card image cap')
          a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='#') Leer más
          .swiper-bg.swiper-bg-hover.d-flex
        .card-body.position-relative
          span.tag.tag--primary.text--white Etiqueta
          p.text.text--20.text--semibold.my-4 Títular
          p.text.text--12.text--light.mb-4
            | Han pasado 40 años y casi no nos hemos dado ni cuenta. Nuestro mundo y el tuyo es muy diferente.  Conoce cómo hemos cambiado en estas cuatro décadas...
  .col-12.col-md-6
    .row.pl-0.pl-md-3.py-3
      .card.border--top-primary.text--cursor.h-100
        .position-relative.w-100
          img.card-img-top(src='https://picsum.photos/370/250/?image=99', alt='Card image cap')
          a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='#') Leer más
          .swiper-bg.swiper-bg-hover.d-flex
        .card-body.position-relative
          span.tag.tag--primary.text--white Etiqueta
          p.text.text--20.text--semibold.my-4 Títular
          p.text.text--12.text--light.mb-4
            | Han pasado 40 años y casi no nos hemos dado ni cuenta. Nuestro mundo y el tuyo es muy diferente.  Conoce cómo hemos cambiado en estas cuatro décadas...
  .col-12.col-md-6
    .row.pr-0.pr-md-3.py-3
      .card.border--top-primary.text--cursor.h-100
        .position-relative.w-100
          img.card-img-top(src='https://picsum.photos/370/250/?image=400', alt='Card image cap')
          a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='#') Leer más
          .swiper-bg.swiper-bg-hover.d-flex
        .card-body.position-relative
          span.tag.tag--primary.text--white Etiqueta
          p.text.text--20.text--semibold.my-4 Títular
          p.text.text--12.text--light.mb-4
            | Han pasado 40 años y casi no nos hemos dado ni cuenta. Nuestro mundo y el tuyo es muy diferente.  Conoce cómo hemos cambiado en estas cuatro décadas...
  .col-12.col-md-6
    .row.pl-0.pl-md-3.py-3
      .card.border--top-primary.text--cursor.h-100
        .position-relative.w-100
          img.card-img-top(src='https://picsum.photos/370/250/?image=240', alt='Card image cap')
          a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='#') Leer más
          .swiper-bg.swiper-bg-hover.d-flex
        .card-body.position-relative
          span.tag.tag--primary.text--white Etiqueta
          p.text.text--20.text--semibold.my-4 Lorem Ipsum dolor asim
          p.text.text--12.text--light.mb-4
            | Han pasado 40 años y casi no nos hemos dado ni cuenta. Nuestro mundo y el tuyo es muy diferente.  Conoce cómo hemos cambiado en estas cuatro décadas...
