+title-card('breadcrumb', 'entrevistas', [{title: 'Actualidad', active: true}])
#news-carousel-cards.row
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .card.border--top-primary.text--cursor.h-100
          .position-relative.w-100
            img.card-img-top(src='https://picsum.photos/370/250/?image=240', alt='Card image cap')
            a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='#') Leer más
            .swiper-bg.swiper-bg-hover.d-flex
          .card-body.position-relative
            span.tag.tag--primary.text--white Etiqueta
            p.text.text--semibold.text-left Lorem ipsum amer
      .swiper-slide
        .card.border--top-primary.text--cursor.h-100
          img.card-img-top(src='https://picsum.photos/370/250/?image=100', alt='Card image cap')
          .card-body.position-relative
            span.tag.tag--primary.text--white Etiqueta
            p.text.text--semibold.text-left Lorem ipsum amer
      .swiper-slide
        .card.border--top-primary.text--cursor.h-100
          .position-relative.w-100
            img.card-img-top(src='https://picsum.photos/370/250/?image=240', alt='Card image cap')
            a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='#') Leer más
            .swiper-bg.swiper-bg-hover.d-flex
          .card-body.position-relative
            span.tag.tag--primary.text--white Etiqueta
            p.text.text--semibold.text-left Lorem ipsum amer
      .swiper-slide
        .card.border--top-primary.text--cursor.h-100
          .position-relative.w-100
            img.card-img-top(src='https://picsum.photos/370/250/?image=240', alt='Card image cap')
            a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='#') Leer más
            .swiper-bg.swiper-bg-hover.d-flex
          .card-body.position-relative
            span.tag.tag--primary.text--white Etiqueta
            p.text.text--semibold.text-left Lorem ipsum amer
      .swiper-slide
        .card.border--top-primary.text--cursor.h-100
          .position-relative.w-100
            img.card-img-top(src='https://picsum.photos/370/250/?image=240', alt='Card image cap')
            a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='#') Leer más
            .swiper-bg.swiper-bg-hover.d-flex
          .card-body.position-relative
            span.tag.tag--primary.text--white Etiqueta
            p.text.text--semibold.text-left Lorem ipsum amer
      .swiper-slide
        .card.border--top-primary.text--cursor.h-100
          .position-relative.w-100
            img.card-img-top(src='https://picsum.photos/370/250/?image=240', alt='Card image cap')
            a.text.text--link.text--white.text--semibold.swiper-bg-hover-a(href='#') Leer más
            .swiper-bg.swiper-bg-hover.d-flex
          .card-body.position-relative
            span.tag.tag--primary.text--white Etiqueta
            p.text.text--semibold.text-left Lorem ipsum amer
