.container-fluid
  post.htmlnews-carousel.row
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          .position-relative.h-100
            img.img-fluid(src='https://picsum.photos/900/800/?image=0')
            .swiper-bg
            .swiper--content.px-3.pb-2
              span.tag.tag--primary.text--white Etiqueta
              p.text.text--white.title Título Lorem Ipsum
              a.text.text--12.text--white(href='post.html')
                | LEER MÁS 
                i.fa.fa-long-arrow-right.ml-2(aria-hidden='true')
        .swiper-slide
          .position-relative.h-100
            img.img-fluid(src='https://picsum.photos/900/800/?image=300')
            .swiper-bg
            .swiper--content.px-3.pb-2
              span.tag.tag--primary.text--white Tag
              p.text.text--white.title
                | Título Lorem Ipsum
              a.text.text--12.text--white(href='post.html')
                | Leer más 
                i.fa.fa-long-arrow-right.ml-2(aria-hidden='true')
        .swiper-slide
          .position-relative.h-100
            img.img-fluid(src='https://picsum.photos/900/800/?image=10')
            .swiper-bg
            .swiper--content.px-3.pb-2
              span.tag.tag--primary.text--white Tag
              p.text.text--white.title
                | Título Lorem Ipsum
              a.text.text--12.text--white(href='post.html')
                | Leer más 
                i.fa.fa-long-arrow-right.ml-2(aria-hidden='true')
        .swiper-slide
          .position-relative.h-100
            img.img-fluid(src='https://picsum.photos/900/800/?image=0')
            .swiper-bg
            .swiper--content.px-3.pb-2
              span.tag.tag--primary.text--white Etiqueta
              p.text.text--white.title Título Lorem Ipsum
              a.text.text--12.text--white(href='post.html')
                | LEER MÁS 
                i.fa.fa-long-arrow-right.ml-2(aria-hidden='true')
        .swiper-slide
          .position-relative.h-100
            img.img-fluid(src='https://picsum.photos/900/800/?image=300')
            .swiper-bg
            .swiper--content.px-3.pb-2
              span.tag.tag--primary.text--white Tag
              p.text.text--white.title
                | Título Lorem Ipsum
              a.text.text--12.text--white(href='post.html')
                | Leer más 
                i.fa.fa-long-arrow-right.ml-2(aria-hidden='true')
        .swiper-slide
          .position-relative.h-100
            img.img-fluid(src='https://picsum.photos/900/800/?image=10')
            .swiper-bg
            .swiper--content.px-3.pb-2
              span.tag.tag--primary.text--white Tag
              p.text.text--white.title
                | Título Lorem Ipsum
              a.text.text--12.text--white(href='post.html')
                | Leer más 
                i.fa.fa-long-arrow-right.ml-2(aria-hidden='true')
        .swiper-slide
          .position-relative.h-100
            img.img-fluid(src='https://picsum.photos/900/800/?image=0')
            .swiper-bg
            .swiper--content.px-3.pb-2
              span.tag.tag--primary.text--white Etiqueta
              p.text.text--white.title Título Lorem Ipsum
              a.text.text--12.text--white(href='post.html')
                | LEER MÁS 
                i.fa.fa-long-arrow-right.ml-2(aria-hidden='true')
        .swiper-slide
          .position-relative.h-100
            img.img-fluid(src='https://picsum.photos/900/800/?image=300')
            .swiper-bg
            .swiper--content.px-3.pb-2
              span.tag.tag--primary.text--white Tag
              p.text.text--white.title
                | Título Lorem Ipsum
              a.text.text--12.text--white(href='post.html')
                | Leer más 
                i.fa.fa-long-arrow-right.ml-2(aria-hidden='true')
        .swiper-slide
          .position-relative.h-100
            img.img-fluid(src='https://picsum.photos/900/800/?image=10')
            .swiper-bg
            .swiper--content.px-3.pb-2
              span.tag.tag--primary.text--white Tag
              p.text.text--white.title
                | Título Lorem Ipsum
              a.text.text--12.text--white(href='post.html')
                | Leer más 
                i.fa.fa-long-arrow-right.ml-2(aria-hidden='true')
