.row.pt-5.align-items-strech
    .col-12.col-lg-6
        .row.pr-0
            .card.border--top-primary.text--cursor.h-100.position-relative
                .position-relative.w-100.o-hidden.scale-1
                    img.img-fluid(src='https://picsum.photos/900/600/?image=30', alt='Card image cap')
                    .bg--cover-black
                    .card--text-bottom
                        .tag.tag--colectivos.tag--round.text--white COLECTIVOS
                        p.text.text--semibold.text--white.mt-2 Fringilla Aenean Ornare Ligula
                        p.text.text--12.text--white.mt-2 15 Ago 2018 / Daniel Rosselló
    .col-12.col-lg-6
        .row.pr-0
            .col-12.col-lg-6
                .row
                    .card.border--top-primary.text--cursor.h-100
                        .position-relative.w-100.o-hidden.scale-1
                            img.img-fluid(src='https://picsum.photos/900/600/?image=35', alt='Card image cap')
                            .bg--cover-black
                            .card--text-top.opacity-8
                                .tag.tag--ciencia.tag--round.text--white CIENCIA
                                p.text.text--semibold.text--white.mt-2 Fringilla Aenean Ornare Ligula
                                p.text.text--12.text--white.mt-2 15 Ago 2018 / Daniel Rosselló
            .col-12.col-lg-6
                .row
                    .card.border--top-primary.text--cursor.h-100
                        .position-relative.w-100.o-hidden.scale-1
                            img.img-fluid(src='https://picsum.photos/900/600/?image=40', alt='Card image cap')
                            .bg--cover-black
                            .card--text-top.opacity-8
                                .tag.tag--arte.tag--round.text--white ARTE
                                p.text.text--semibold.text--white.mt-2 Fringilla Aenean Ornare Ligula
                                p.text.text--12.text--white.mt-2 15 Ago 2018 / Daniel Rosselló
            .col-12.col-lg-6
                .row
                    .card.border--top-primary.text--cursor.h-100
                        .position-relative.w-100.o-hidden.scale-1
                            img.img-fluid(src='https://picsum.photos/900/600/?image=45', alt='Card image cap')
                            .bg--cover-black
                            .card--text-top.opacity-8
                                .tag.tag--opinion.tag--round.text--white OPINIÓN
                                p.text.text--semibold.text--white.mt-2 Fringilla Aenean Ornare Ligula
                                p.text.text--12.text--white.mt-2 15 Ago 2018 / Daniel Rosselló
            .col-12.col-lg-6
                .row
                    .card.border--top-primary.text--cursor.h-100
                        .position-relative.w-100.o-hidden.scale-1
                            img.img-fluid(src='https://picsum.photos/900/600/?image=50', alt='Card image cap')
                            .bg--cover-black
                            .card--text-top.opacity-8
                                .tag.tag--colectivos.tag--round.text--white CULTURA
                                p.text.text--semibold.text--white.mt-2 Fringilla Aenean Ornare Ligula
                                p.text.text--12.text--white.mt-2 15 Ago 2018 / Daniel Rosselló
                    
