.row.align-items-center.justify-content-between.flex-nowrap.pagination
    .col-6.py-5.mr-1.bg--white.d-flex.align-items-center.pagination--content
        a.text--dark.pagination--text(href="")
            i.fas.fa-chevron-left.fa-3x        
        .pl-4
            p.text.text--semibold.pagination--text Entrevista a Isabel Soler Gil-Mascarell
            p.text.text--12.pt-2.text--light Entrada anterior
    .col-6.py-5.text-right.ml-1.bg--white.d-flex.align-items-center.pagination--content
        .pr-4
            p.text.text--semibold.pagination--text Entrevista a Isabel Soler Gil-Mascarell
            p.text.text--12.pt-2.text--light Siguiente entrada
        a.text--dark.pagination--text(href="")
            i.fas.fa-chevron-right.fa-3x