.row.pl-0.pl-lg-5.pt-5
  .col-12.p-0
    if search
      input.form-control.form-search.text.text--12(placeholder='Search...', required='', type='text')
  .col-12.p-0(class=search ? 'pt-5' : '')
    .card.border--top-primary.text--cursor.h-100
      .card-header.px-5.px-lg-2
        .position-relative.w-100.card--img.px-4.mt-2
          img.card-img-top.px-4.pt-5(src='https://picsum.photos/370/250/?image=30', alt='Card image cap')
      .card-body.text-center.px-5
        p.text.text--20.text--semibold.my-4 Nombre y Apellidos
        p.text.text--12.text--light.mb-4
          | Han pasado 40 años y casi no nos hemos dado ni cuenta. Nuestro mundo y el tuyo es muy diferente.  Conoce cómo hemos cambiado en estas cuatro décadas...
        .row.align-items-center.justify-content-center
          i.fa.fa-facebook.text--12.px-2
          i.fa.fa-twitter.text--12.px-2
          i.fa.fa-instagram.text--12.px-2
          i.fa.fa-linkedin.text--12.px-2
  .col-12.p-0.pt-5
    ul.nav.nav-tabs.d-flex.align-items-center.justify-content-start.flex-direction-row.flex-nowrap.text-center
      li.nav-item
        a.nav-link.active.text.text--20(data-toggle='tab', href='#entradas-populares') Entradas populares
      li.nav-item
        a.nav-link.text.text--20(data-toggle='tab', href='#entradas-recientes') Entradas recientes
    .tab-content.p--1
      #entradas-populares.tab-pane.container.active
        .row.my-2.bg--white
          .col-6.px-0
            img.img-fluid(src='https://picsum.photos/370/250/?image=30', alt='Card image cap')
          .col-6.text-center.px-0.d-flex.align-items-center.flex-column.justify-content-center
            p.text.text--semibold Títular
            p.text.text--12 26/09/2018
        .row.my-2.bg--white
          .col-6.px-0
            img.img-fluid(src='https://picsum.photos/370/250/?image=50', alt='Card image cap')
          .col-6.text-center.px-0.d-flex.align-items-center.flex-column.justify-content-center
            p.text.text--semibold Títular
            p.text.text--12 26/09/2018
        .row.my-2.bg--white
          .col-6.px-0
            img.img-fluid(src='https://picsum.photos/370/250/?image=70', alt='Card image cap')
          .col-6.text-center.px-0.d-flex.align-items-center.flex-column.justify-content-center
            p.text.text--semibold Títular
            p.text.text--12 26/09/2018
      #entradas-recientes.tab-pane.container.fade
        .row.my-2.bg--white
          .col-6.px-0
            img.img-fluid(src='https://picsum.photos/370/250/?image=38', alt='Card image cap')
          .col-6.text-center.px-0.d-flex.align-items-center.flex-column.justify-content-center
            p.text.text--semibold Títular
            p.text.text--12 26/09/2018
        .row.my-2.bg--white
          .col-6.px-0
            img.img-fluid(src='https://picsum.photos/370/250/?image=510', alt='Card image cap')
          .col-6.text-center.px-0.d-flex.align-items-center.flex-column.justify-content-center
            p.text.text--semibold Títular
            p.text.text--12 26/09/2018
        .row.my-2.bg--white
          .col-6.px-0
            img.img-fluid(src='https://picsum.photos/370/250/?image=75', alt='Card image cap')
          .col-6.text-center.px-0.d-flex.align-items-center.flex-column.justify-content-center
            p.text.text--semibold Títular
            p.text.text--12 26/09/2018
  .col-12.p-0.pt-2
    .col-12
      +title-card('breadcrumb', 'gray', [{title: 'Categorías', active: true}])
    .col-12.bg--white.text-center
      p.text.text--gray.py-4 Opinión
      hr.m-0
      p.text.text--gray.py-4 Arte
      hr.m-0
      p.text.text--gray.py-4 Ciencia
      hr.m-0
      p.text.text--gray.py-4 Entrevistas
      hr.m-0
      p.text.text--gray.py-4 Colectivos
      hr.m-0
      p.text.text--gray.py-4 Reportajes
      hr.m-0
      p.text.text--gray.py-4 Ficciones
      hr.m-0
      p.text.text--gray.py-4 Relatos salvajes
      hr.m-0
      p.text.text--gray.py-4 Recomendaciones
  .col-12.p-0.pt-2
    .col-12
      +title-card('breadcrumb', 'gray', [{title: 'Etiquetas', active: true}])
    .col-12.bg--white.p-4.d-flex.align-items-center.flex-wrap.tag--content
        a.text.tag.tag--round.tag--transparent.border--1.border--gray.text--gray.text--light.mr-2.my-1.py-0(href="") 
          i.fas.fa-tags
          | Cine
        a.text.tag.tag--round.tag--transparent.border--1.border--gray.text--gray.text--light.mr-2.my-1.py-0(href="") 
          i.fas.fa-tags 
          | Música
        a.text.tag.tag--round.tag--transparent.border--1.border--gray.text--gray.text--light.mr-2.my-1.py-0(href="") 
          i.fas.fa-tags 
          | Fotografía
        a.text.tag.tag--round.tag--transparent.border--1.border--gray.text--gray.text--light.mr-2.my-1.py-0(href="") 
          i.fas.fa-tags 
          | Pintura
        a.text.tag.tag--round.tag--transparent.border--1.border--gray.text--gray.text--light.mr-2.my-1.py-0(href="") 
          i.fas.fa-tags 
          | Danza
        a.text.tag.tag--round.tag--transparent.border--1.border--gray.text--gray.text--light.mr-2.my-1.py-0(href="") 
          i.fas.fa-tags 
          | Taller
        a.text.tag.tag--round.tag--transparent.border--1.border--gray.text--gray.text--light.mr-2.my-1.py-0(href="") 
          i.fas.fa-tags 
          | Deporte
        a.text.tag.tag--round.tag--transparent.border--1.border--gray.text--gray.text--light.mr-2.my-1.py-0(href="") 
          i.fas.fa-tags 
          | Otros