.bg {
    background: #eeeeee;
    &--white {
        background: $white;
    }
    &--dark {
        background: $dark;
    }
    
    &--cover {
        background: linear-gradient(90deg, rgba(17, 241, 223, 0.15) 10%, rgba(63, 81, 181, 0.15) 90%);
        width: 100vw;
        height: 100vh;
        &-header{
            background-image: url('/dist/assets/img/cabecera.jpg');
            background-size: cover;
            background-position: center;
            width: 100vw;
            height: 100vh;
            > i {
                font-size: 5em;
                color: white;
                position: absolute;
                bottom: 15px;
                left: 50%;
                transform: translate(-50%, 0);
                cursor: pointer;

                border: 2px solid #11f1dfcc;
                padding: 6px 15px;
                border-radius: 50%;
                background: linear-gradient(0deg, $primary 10%, $second 90%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}