.border {
    &--top{
        border-top: 1px solid $black;
        &-2-5{
            border-top: 2.5px solid;
        }
    }
    &--left {
        border-left: 1px solid $black;
    }
    &--right {
        border-right: 1px solid $black;
    }
    &--bottom {
        border-bottom: .5px solid  $black;
    }
    &--1 {
        border: .5px solid;
    }

    &--primary{
        border-color: $primary 
    }
    &--second{
        border-color: $second 
    }

    &--white {
        border-color: $white;
    }
    &--black {
        border-color: $black!important;
    }
}
@include borders(map-keys($colors-app)...);
