.card {
    .tag {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0, -100%);
        padding: 0 15px;
        border-radius: 0 10px 0 0;
    }
    &--image-180{
        overflow: hidden;
        @media screen and (min-width: 768px){
            height: 180px;
        }
    }
    &:hover {
        .swiper-bg-hover {
            height: 100%;
            transition: height .3s;
            &-a {
                visibility: visible;
                opacity: 1;
                transition: visibility .3s, opacity .5s linear;
                &:hover {
                    color: $primary;
                    transition: color .8s;
                }
            }
        }
    }
    &-header {
        border: none;
        padding: 0;
        >.card--img {
            top: 25px;
            >img {
                padding: 10px;
                background-color: white;
            }
        }
    }
    &--text {
        &-top,
        &-bottom{
            position: absolute;
        }
        &-top{
            top: 0;
            left: 0;
            transform: translate(0, 0);
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            > .tag {
                position: relative;
            }
        }
        &-bottom {
            bottom: 5%;
            left: 5%;
            transform: translate(-5%, -5%);
        }
    }
}