.text {
    font-family: 'Open Sans', sans-serif;
    @include font-size(1.2);
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    @media screen and (min-width: 400px) {
        @include font-size(1.6);
    }
    &--title {
        @include font-size(2.6);
        line-height: 30px;
        letter-spacing: 0.26px;
        &-card {
            @include font-size(1.4);
            line-height: 20px;
        }
        @media screen and (min-width: 400px) {
            @include font-size(2.8);
            line-height: 30px;
        }
    }
    &--lg {
        @include font-size(4.4);
        line-height: 50px;
    }
    &--20 {
        @include font-size(1.8);
        line-height: 25px;
        @media screen and (min-width: 400px) {
            @include font-size(2);
            line-height: 26px;
        }
    }
    &--12 {
        &-card {
            @include font-size(1);
            line-height: 15px;
        }
        @include font-size(1.2);
        line-height: 17px;
        @media screen and (min-width: 400px) {
            @include font-size(1.4);
            line-height: 20px;
        }
    }
    // Font weight
    &--light {
        font-weight: 300;
    }
    &--regular {
        font-weight: 400;
    }
    &--semibold {
        font-weight: 600;
    }
    &--bold {
        font-weight: 700;
    }
    &--extrabold {
        font-weight: 800;
    }
    // Font styles
    &--italic {
        font-style: italic;
    }
    &--center {
        text-align: center;
    }
    // Colors 
    &--white {
        color: #fff;
    }
    &--black {
        color: #000;
    }
    &--dark {
        color: $dark;
    }
}
/* a:hover {
    background: linear-gradient(0deg, $primary 10%, $second 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.fab {
    padding: 5px;
}
.fa-facebook-f:hover{
    color: $facebook;
}
.fa-twitter:hover{
    color: $twitter;
}
.fa-tumblr:hover{
    color: $tumblr;
}
.fa-github:hover{
    color: $github;
}
.fa-youtube:hover{
    color: $youtube;
}
.fa-instagram:hover{
    border-radius: 5px;
    color: white!important;
    background: linear-gradient(0deg, #f9ed32 10%, #ee2a7b 90%);
}