$font: 'Open Sans', sans-serif;

$primary: #11f1dfcc;
$second: #3f51b58f;
$white: #fff;
$dark: #292d39;

$base_url: 'C:/xampp_7/htdocs/www/front-webpack-github/dist/assets/';


$facebook: #4267b2;
$twitter: #1DA1F2 ;
$tumblr: #444444 ;
$github: #24292e;
$youtube: #ff0000;